body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #5c5c5c;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
}

header {
  background-image: url(./images/THJJRUhNlEc.png);
  background-color: #0E0E0E;
  width: 100%;
  background-size: cover;
}

.links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25vh;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

/* search page */

.search-container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  transform: translate(0, -20px);
}

.search-wrapper {
  display: flex;
}

.search-input {
  width: 80%;
  height: 2.5em;
  border: 1px solid lightgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  text-indent: 10px;

}

.search-btn {
  width: 20%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}

/* Movie Card Template*/
.card-container {
  background-color: #2a2b2c;
  color: #fff;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  box-shadow: 0px 0px 8px #2a2b2c;
  border-radius: 8px;
  border: none;
  margin-bottom: 1.25em;
}
/* card img */
.card-poster-container {
  width: 30%;
  margin: 10px;
}

.card-poster-img {
  width: 100px;
  border: 20px;
  overflow: hidden;
}
/* card body */
.card-body-container {
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
    
}

.card-info {
  display: flex;
}

.card-runtime {
  margin-left: 40px;
}

button {
  border: none;
}

.add-btn {
  background-color: green;
  color: #fff;
  border-radius: 5px;
  padding: 4px 20px;
}

.remove-btn {
  background-color: red;
  border-radius: 5px;
}